@model QLDA.Models.teacher

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    legend {
        background-color: gray;
        color: white;
        padding: 5px 5px 5px 30px;
    }

    input {
        min-width: 300px;
    }

    select {
        min-width: 300px;
    }

    fieldset {
        display: block;
        padding-top: 0.35em;
        padding-bottom: 2em;
        padding-left: 2em;
        padding-right: 2em;
        border: 2px groove;
        max-width: 900px;
        height: 500px;
        left: 90px;
        position: relative;
        background-color: #eeeeee;
        border: 1px solid;
    }

    label {
        position: relative;
        margin: 0;
        line-height: 20px;
        padding-top: 15px;
    }

    img {
        max-width: 150px;
    }

    input[type=file] {
        padding: 10px;
        background: #2d2d2d;
    }

    .left-part {
        position: absolute;
        top: 0px;
        right: -70px;
    }
</style>
<form action="/Teacher/Edit" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Sửa giáo viên:</legend>
        <div class="col-lg-12" style=" position: relative;">
            <div class="col-lg-6">
                <div>
                    <label>Mã giáo viên:</label>
                    <br>
                    <input type="text" id="teacher_id"  value="@Model.teacher_id" name="teacher_id" required />
                    <br>
                </div>
                <div>
                    <label>Tên:</label>
                    <br>
                    <input type="text" id="name"  value="@Model.name" name="name" required />
                    <br>
                </div>


                <div>
                    <label>Ngày sinh:</label>
                    <br>
                    <input type="date" id="age" value="@Model.age.ToString("yyyy-MM-dd")" name="age" required />
                </div>
                <div>
                    <label>Địa chỉ:</label><br>
                    <input type="text" id="address" value="@Model.address" name="address" required />
                </div>
                <div>
                    <br>
                    <label>Giới tính:</label>
                    <br>
                    @{
                        if (Model.gender == "Nam")
                        {
                            <label class="light">Nam:</label>
                            <input type="radio" id="gender" checked value="Nam" name="gender"><br />
                            <label class="light">Nữ:</label>
                            <input type="radio" id="gender" value="Nữ" name="gender">
                        }
                        else if (Model.gender == "Nữ")
                        {
                            <label class="light">Nam:</label>
                            <input type="radio" id="gender" value="Nam" name="gender"><br />
                            <label class="light">Nữ:</label>
                            <input type="radio" id="gender" checked value="Nữ" name="gender">
                        }
                    }

                </div>

            </div>
            <div class="col-lg-6 left-part">

                <div>
                    <label>Trình độ</label><br />
                    <input type="text" id="education" value="@Model.education" name="education" required />
                </div>

                <div>

                    <div>
                        <label>Bộ môn</label><br />
                        @{
                            if (Model.subject == "CNPM")
                            {
                                <select name="subject" id="subject" onchange="getFaculty();">
                                    <option required value="">Chọn Bộ môn</option>
                                    <option value="CNPM" selected>Công nghệ phần mềm</option>
                                    <option value="MVATTT">Mạng và an toàn TT</option>
                                </select>
                            }
                            if (Model.subject == "MVATTT")
                            {
                                <select name="subject" id="subject" onchange="getFaculty();">
                                    <option required value="">Chọn Bộ môn</option>
                                    <option value="CNPM">Công nghệ phần mềm</option>
                                    <option value="MVATTT" selected>Mạng và an toàn TT</option>
                                </select>
                            }
                        }
                    </div>
                    <div>
                        <label>Khoa:</label>
                        <br>
                        @{
                            if (Model.faculty == "CNTT")
                            {
                                <select name="faculty" id="faculty" onchange="getFaculty();">
                                    <option required value="">Chọn khoa</option>
                                    <option value="CNTT" selected>Công nghệ thông tin</option>
                                    <option value="TDH">Tự động hóa</option>
                                    <option value="TTDPT">TT đa phương tiện</option>
                                    <option value="QTVP">Quản trị văn phòng</option>
                                </select>
                            }
                            if (Model.faculty == "TDH")
                            {
                                <select name="faculty" id="faculty" onchange="getFaculty();">
                                    <option required value="">Chọn khoa</option>
                                    <option value="TDH" selected>Tự động hóa</option>
                                    <option value="CNTT">Công nghệ thông tin</option>
                                    <option value="TTDPT">TT đa phương tiện</option>
                                    <option value="QTVP">Quản trị văn phòng</option>
                                </select>
                            }
                            if (Model.faculty == "TTDPT")
                            {
                                <select name="faculty" id="faculty" onchange="getFaculty();">
                                    <option required value="">Chọn khoa</option>
                                    <option value="TTDPT" selected>TT đa phương tiện</option>
                                    <option value="TDH">Tự động hóa</option>
                                    <option value="CNTT">Công nghệ thông tin</option>
                                    <option value="QTVP">Quản trị văn phòng</option>
                                </select>
                            }
                            if (Model.faculty == "QTVP")
                            {
                                <select name="faculty" id="faculty" onchange="getFaculty();">
                                    <option required value="">Chọn khoa</option>
                                    <option value="QTVP" selected>Quản trị văn phòng</option>
                                    <option value="TDH">Tự động hóa</option>
                                    <option value="CNTT">Công nghệ thông tin</option>
                                    <option value="TTDPT">TT đa phương tiện</option>
                                </select>
                            }
                        }
                        <br>
                    </div>



                    <div>
                        <label>Số điện thoại</label>
                        <br />
                        <input type="text" value="@Model.phone" id="phone" name="phone" />
                    </div>
                    <div>
                        <label>Ảnh:</label>
                        <br>
                        <img id="blah" src="@Url.Content(Model.image)" style="width:150px;height:150px" alt="your image" />
                        <br>
                    </div>
                </div>

            </div>

        </div>
    </fieldset>

    <button type="submit" class="btn btn-primary" style="margin:15px 0px 0px 400px">Sửa</button>
</form>