@model  IPagedList<QLDA.Models.teacher>
@using PagedList;

@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    button {
        max-height: 31px;
        max-width: 35px;
    }


    .fas fa-trash {
        color: red;
    }



    ul {
        padding: 10px;
    }



    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }


    li a {
        color: Black;
        text-align: center;
        padding: 8px 8px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #337AB7;
        }

    .active {
        background-color: #337AB7;
    }
</style>
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    @using (Html.BeginForm("Index", "Teacher", FormMethod.Get))
                    {
                        <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light small" id="teacher" name="SearchString" placeholder="Tìm kiếm..."
                                       aria-label="SearchString" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    <a href="/Teacher/Create" type="button" class="btn btn-primary" style="margin-left:50px; padding:3.5px 0px 3.5px 0px;"> <i class="fas fa-user-plus"></i>Thêm mới giáo viên</a>
                    <br />
                    <br />
                    <caption>Danh sách giáo viên</caption>
                    <thead>
                        <tr>
                            <th scope="col">Mã giáo viên</th>
                            <th scope="col">Họ tên</th>
                            <th scope="col">Ngày sinh</th>
                            <th scope="col">Điện thoại</th>
                            <th scope="col">Giới tính</th>
                            <th scope="col">Khoa</th>
                            <th scope="col">Trình độ</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr id="row_@item.teacher_id">
                                <td>@item.teacher_id</td>
                                <td>
                                    @item.name
                                        <a><img src="@Url.Content(item.image)" width="50" height="35" /></a>
                                </td>
                                <td>@item.age.ToString("dd/MM/yyyy")</td>
                                <td>@item.phone</td>
                                <td>@item.gender</td>
                                <td>@item.faculty</td>
                                <td>@item.education</td>
                                <td>
                                    <button title='Xóa' class='btn btn-danger' onclick='ConfirmDelete("@item.teacher_id");'><i class='fas fa-trash'></i></button>
                                    <a href="/Teacher/Edit/@item.teacher_id" type="button" title="Sửa" class="btn btn-primary" style=" max-height: 31px; max-width: 35px;"><i class="fas fa-pen"></i></a>
                                    <button type='button' title='Chi tiết' data-toggle='modal' onclick='getbyIDtch("@item.teacher_id");' class='btn btn-primary'><i class='fa fa-info-circle'></i></button>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
                <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Chi tiết sinh viên</h4>
                            </div>
                            <div class="modal-body">
                                <table>
                                    <tr>
                                        <th for="teacher_id">Mã giáo viên:</th>
                                        <td id="teacherid"></td>
                                    </tr>
                                    <tr>
                                        <th for="name">Họ tên:</th>
                                        <td id="name"></td>
                                    </tr>
                                    <tr>
                                        <th for="image">Ảnh:</th>
                                        <td>
                                            <img id="image" style="width:300px;height:200px">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th for="age">Ngày sinh:</th>
                                        <td id="age"></td>
                                    </tr>
                                    <tr>
                                        <th for="address">Địa chỉ:</th>
                                        <td id="address"></td>
                                    </tr>

                                    <tr>
                                        <th for="phone">số điện thoại:</th>
                                        <td id="phone"></td>
                                    </tr>
                                    <tr>
                                        <th for="gender">Giới tính:</th>
                                        <td id="gender"></td>
                                    </tr>
                                    <tr>
                                        <th for="faculty">Khoa:</th>
                                        <td id="faculty"></td>
                                    </tr>
                                    <tr>
                                        <th for="age">Bộ môn:</th>
                                        <td id="subject"></td>
                                    </tr>
                                    <tr>
                                        <th for="age">Trình độ:</th>
                                        <td id="education"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Đóng</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                <h3 class="modal-title">Xóa sinh viên</h3>
                            </div>
                            <div class="modal-body">
                                <h4>Bạn có chắc muốn xóa? </h4>
                                <div style="text-align:center;display:none" id="loaderDiv">
                                    <img src="~/assets/assets/images/200.gif" style="height:200px;width:200px" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-default" data-dismiss="modal">Không</a>
                                <a href="#" class="btn btn-success" onclick="DeleteTeacher()">Có</a>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="hiddenTeacherId" />
            </div>

            <script>
                var ConfirmDelete = function (TeacherId) {
                    $("#hiddenTeacherId").val(TeacherId);
                    $("#myModal").modal('show');
                }
                var DeleteTeacher = function () {
                    $("#loaderDiv").show();
                    var stdId = $("#hiddenTeacherId").val();
                    $.ajax({

                        type: "POST",
                        url: "/Teacher/Delete",
                        data: { TeacherId: stdId },
                        success: function (result) {
                            $("#loaderDiv").hide();
                            $("#myModal").modal("hide");
                            $("#row_" + stdId).remove();
                        }
                    })
                }
            </script>
        </div>
    </div>
</div>


<div style="margin-left:35px; text-align:center;">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFIlter = ViewBag.currentFIlter }))
</div>
