@model QLDA.Models.project

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    legend {
        background-color: gray;
        color: white;
        padding: 5px 5px 5px 30px;
    }

    input {
        min-width: 300px;
    }

    select {
        min-width: 200px;
    }

    fieldset {
        display: block;
        padding-top: 0.35em;
        padding-bottom: 2em;
        padding-left: 2em;
        padding-right: 2em;
        border: 2px groove;
        max-width: 900px;
        left: 90px;
        position: relative;
        background-color: #eeeeee;
        border: 1px solid;
    }

    label {
        position: relative;
        margin: 0;
        line-height: 20px;
        padding-top: 15px;
    }

    img {
        max-width: 150px;
    }

    input[type=file] {
        padding: 10px;
        background: #2d2d2d;
    }

    .left-part {
        position: absolute;
        top: 0px;
        right: -70px;
    }
</style>
<form action="/Project/Edit" method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>Thêm mới đồ án</legend>
        <div class="col-lg-12" style=" position: relative;">
            <div class="col-lg-6">
                <label>Mã đồ án:</label>

                <p>
                    <input type="text" id="project_id" name="project_id" value="@Model.project_id" readonly required />
                </p>

                <label>Tên đồ án:</label>

                <p>
                    <input type="text" id="name" name="name" value="@Model.name" required />
                </p>

                <label>Mã giáo viên</label><br />
                <p><input type="text" id="teacher_id" name="teacher_id" value="@Model.teacher_id"  /></p>

                <label>Mã sinh viên:</label><br>
                <p> <input type="text" id="student_id" name="student_id" value="@Model.student_id"  /></p>


            </div>
            <div class="col-lg-6 left-part">


                <label>Giáo viên hướng dẫn</label>
                <p>
                    <input readonly id="teacherName" value="@Model.teacher.name" >
                </p>
                <label>Sinh viên thực hiện:</label>
                <p><input id="studentName" value="@Model.student.name" readonly></p>

                <label>Ngày bắt đầu:</label>

                <p>
                    <input type="date" id="start" name="start" value="@Model.start.ToString("yyyy-MM-dd")" required />
                </p>

                <label>Ngày kết thúc:</label><br>
                <p><input type="date" id="end" name="end" value="@Model.end.ToString("yyyy-MM-dd")" required /></p>

            </div>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary" style="margin:15px 0px 0px 520px">Sửa</button>
</form>
