@model  IPagedList<QLDA.Models.project>
@using PagedList;

@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    button {
        max-height: 31px;
        max-width: 35px;
    }

    .fas fa-trash {
        color: red;
    }
    ul {
        padding: 10px;
    }



    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden; /*background-color: #333;*/
    }




    li a {
        color: Black;
        text-align: center;
        padding: 8px 8px;
        text-decoration: none;
    }

            li a:hover:not(.active) {
                background-color: #337AB7;
            }

    .active {
        background-color: #337AB7;
    }
</style>
<div class="col-12">
    <div class="card">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table">
                    @using (Html.BeginForm("Index", "Project", FormMethod.Get))
                    {
                        <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light small" id="project" name="SearchString" placeholder="Tìm kiếm..."
                                       aria-label="SearchString" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    <a href="~/Project/Create" type="button" class="btn btn-primary" style="margin-left:50px; padding:3.5px 0px 3.5px 0px;"> <i class="fas fa-user-plus"></i>Thêm mới đồ án</a>
                    <br>
                    <br>
                    <caption>Danh sách đồ án</caption>
                    <thead>
                        <tr>
                            <th scope="col">Mã đồ án</th>
                            <th scope="col">Tên đồ án</th>
                            <th scope="col">Tên sinh viên</th>
                            <th scope="col">Tên giáo viên hướng dẫn</th>
                            <th scope="col">Ngày bắt đầu</th>
                            <th scope="col">Ngày kết thúc</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.project_id">
                            <td>@item.project_id</td>
                            <td>@item.name</td>
                            <td>@item.student.name</td>
                            <td>@item.teacher.name</td>
                            <td>@item.start.ToString("dd/MM/yyyy")</td>
                            <td>@item.end.ToString("dd/MM/yyyy")</td>
                            <td>

                                <button title='Xóa' class='btn btn-danger' onclick='ConfirmDelete("@item.project_id");'><i class='fas fa-trash'></i></button>

                                <button href="/Project/Edit/@item.project_id" type="button" title="Sửa" class="btn btn-primary" style=" max-height: 31px; max-width: 35px;"><i class="fas fa-pen"></i></button>

                                <button type='button' title='Chi tiết' data-toggle='modal' onclick='getProjectbyID("@item.project_id");' class='btn btn-primary'><i class='fa fa-info-circle'></i></button>

                            </td>
                        </tr>
                    }
                </table>

                <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title" id="myModalLabel">Chi tiết sinh viên</h4>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <li for="project_id">Mã đồ án:</li>
                                    <li id="project_id"></li>
                                </ul>

                                <ul>
                                    <li for="name">Tên đồ án:</li>
                                    <li id="name"></li>
                                </ul>

                                <ul>
                                    <li >Ngày băt đầu:</li>
                                    <li id="start"></li>
                                </ul>

                                <ul>
                                    <li >Ngày băt đầu:</li>
                                    <li id="end"></li>
                                </ul>
                                <ul>
                                    <li >Mã giáo viên:</li>
                                    <li id="teacher_id"></li>
                                </ul>
                                <ul>
                                    <li >Mã sinh viên:</li>
                                    <li id="student_id"></li>
                                </ul>
                                <ul>
                                    <li >Giáo viên hướng dẫn:</li>
                                    <li id="teacher_name"></li>
                                </ul>
                                <ul>
                                    <li for="image">Sinh viên thực hiện:</li>
                                    <li id="student_name"></li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <a href="#" type="button" class="btn btn-default" data-dismiss="modal">Đóng</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                <h3 class="modal-title">Xóa sinh viên</h3>
                            </div>
                            <div class="modal-body">
                                <h4>Bạn có chắc muốn xóa? </h4>

                                <div style="text-align:center;display:none" id="loaderDiv">
                                    <img src="~/assets/assets/images/200.gif" style="height:200px;width:200px" />
                                </div>

                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-default" data-dismiss="modal">Không</a>
                                <a href="#" class="btn btn-success" onclick="DeleteStudent()">Có</a>
                            </div>

                        </div>

                    </div>

                </div>

                <input type="hidden" id="hiddenStudentId" />

            </div>
        
            <script>

                var ConfirmDelete = function (StudentId) {
                    $("#hiddenStudentId").val(StudentId);
                    $("#myModal").modal('show');
                }

                var DeleteStudent = function () {

                    $("#loaderDiv").show();

                    var stdId = $("#hiddenStudentId").val();

                    $.ajax({

                        type: "POST",
                        url: "/Student/Delete",
                        data: { StudentId: stdId },
                        success: function (result) {
                            $("#loaderDiv").hide();
                            $("#myModal").modal("hide");
                            $("#row_" + stdId).remove();

                        }

                    })

                }
            </script>
        </div>
    </div>
</div>


<div style="margin-left:35px; text-align:center;">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFIlter = ViewBag.currentFIlter }))
</div>
